html, body {
  margin: 0;
  text-align: center;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.5;
}
.media-jumbo,
.media-desktop,
.media-tablet {
  margin: 40px;
}
.media-mobile {
  margin: 20px;
}

a {
  color: #428bca;
  text-decoration: none;
}
a:hover, a:focus {
  color: #2a6496;
  text-decoration: underline;
}

code, pre {
  background: #f7f7f7;
  padding: 3px;
  border-radius: 3px;
  line-height: 1.5;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: .9em;
}
pre {
  padding: 10px;
  overflow: scroll;
  text-align: left;
  max-width: 470px;
  margin-left: auto;
  margin-right: auto;
}

hr {
  margin: 30px 0;
}

.block {
  margin: 10px 0;
  padding: 20px;
  border-radius: 4px;
  color: white;
  background: #95a5a6;
  font-size: 1.2em;
  line-height: 1.7;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.6);
}
.block code, .block pre {
  background: rgba(0,0,0,0.15);
  padding: 6px;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.1);
}

.block-red      { background: #e74c3c; }
.block-orange   { background: #e67e22; }
.block-yellow   { background: #f1c40f; }
.block-blue     { background: #2980b9; }
.block-dark-red { background: #c0392b; }

.media-jumbo   .some-semantic-name { background-color: #2ecc71; }
.media-desktop .some-semantic-name { background-color: #9b59b6; }
.media-tablet  .some-semantic-name { background-color: #1abc9c; }
.media-mobile  .some-semantic-name { background-color: #2c3e50; }
