<h2 id='title'><code><a href="https://freshbooks.github.io/ember-responsive/">ember-responsive</a></code> demo in Ember CLI</h2>

<p>Try resizing the browser window to see <code><a href="https://freshbooks.github.io/ember-responsive/">ember-responsive</a></code> in action!</p>

<p><a href="https://github.com/f3ndot/ember-responsive-demo">Demo app source code</a></p>

<hr />

{{outlet}}
